<.header>
  タスク {@tasks.id}
  <:subtitle>データベースに登録されているタスク情報</:subtitle>
  <:actions>
    <.link href={~p"/tasks/#{@tasks}/edit"}>
      <.button>タスク編集</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="タイトル">{@tasks.title}</:item>
  <:item title="内容">{@tasks.description}</:item>
</.list>

<.back navigate={~p"/tasks"}>タスク一覧に戻る</.back>
