<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    保存できませんでした　フォームのエラーを確認してください
  </.error>
  <.input field={f[:title]} type="text" label="タイトル" />
  <.input field={f[:description]} type="text" label="内容" />
  <:actions>
    <.button>保存</.button>
  </:actions>
</.simple_form>
